* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    /* background-color: #04060c; */
    justify-content: space-between;
    color: white;
    background-color: rgb(23, 22, 22);
}

li {
    list-style: none;
    cursor: pointer;
}
nav ul {
    display: flex;
    align-items: center;
    column-gap: 30px;
    font-weight: 500;

}

.nav-item :hover {
    text-decoration: underline;
    font-weight: 900;

}


a {
    text-decoration: none;
}

button {
    background-color: rgb(18, 155, 155);
    padding: 4px 10px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 600;
    width: fit-content;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}

nav .LOGO {
    font-weight: 700;
    font-size: 30px;
}


.search-feild {
    display: flex;
    gap: 35px;

}
.order-button{
    display: flex;
}

input {
    padding: 4px 10px;
}

.hero {
    display: flex;
    align-items: center;
}

.hero-left {
    font-size: 40px;
    font-weight: 700;
    padding-left: 100px;
}

.hero-left h1 span {
    color: rgb(18, 155, 155);
    font-weight: 900;
    font-size: 2.5rem;
}

.hero-left p {
    font-weight: 500;
}

.hero-left p span {
    font-weight: 700;
    font-size: 25px;
    color: rgb(18, 155, 155);
}

.hero-right {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 150px 0px 0px 350px;
}

.chat-button {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-right img {
    height: 300px;
    width: 300px;
    border-radius: 70%;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    column-gap: 600px;
    padding-left: 100px;
    padding-top: 70px;
}

footer p {
    font-weight: 600;

}

footer ul {
    display: flex;
    gap: 30px;
    align-items: center;

}